/* Catálogo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 30px; /*Margem da Navbar x Carousel*/
    background-color: #f2f2f2;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 25px;
    gap: 20px;
    flex-wrap: wrap;
}
.column {
    width: calc(50% - 20px); /* 50% do espaço com um pequeno gap entre colunas */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.column:hover {
    transform: translateY(-5px);
}
.column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .column {
        width: 100%; /* Coluna ocupa 100% do espaço em telas menores */
        margin-bottom: 20px;
    }
}

/* Rodapé */
footer {
    background-color: #4a3c31;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.fale-conosco {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.links {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.social {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.links h5, .social h5, .fale-conosco h5 {
    margin-bottom: 10px;
}

.links ul, .social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links ul li, .social ul li {
    margin: 5px 0;
}

.links ul li a, .social ul li a {
    color: #fff;
    text-decoration: none;
}

.links ul li a:hover, .social ul li a:hover {
    text-decoration: underline;
}

.copyright {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .contato {
        flex-direction: column;
        align-items: center;
    }

    .fale-conosco, .links, .social {
        text-align: center;
    }
}

.logo {
    width: 200px;
    height: auto;
}