body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 30px; /* Margem da Navbar x Carousel */
    background-color: #f2f2f2;
}

/* Rodapé */
footer {
    background-color: #4a3c31;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.fale-conosco, .links, .social {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.links h5, .social h5, .fale-conosco h5 {
    margin-bottom: 10px;
}

.links ul, .social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links ul li, .social ul li {
    margin: 5px 0;
}

.links ul li a, .social ul li a {
    color: #fff;
    text-decoration: none;
}

.links ul li a:hover, .social ul li a:hover {
    text-decoration: underline;
}

.copyright {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .contato {
        flex-direction: column;
        align-items: center;
    }

    .fale-conosco, .links, .social {
        text-align: center;
    }
}

.logo {
    width: 200px;
    height: auto;
}

/* Seção Sobre a Empresa */
#sobre {
    padding: 50px 0;
}

#sobre h2 {
    margin-bottom: 20px;
    color: #4a3c31;
}

#sobre p {
    font-size: 1.1em;
    color: #555;
}

#sobre img {
    max-width: 100%;
    height: auto;
}

/* Seção Contato */
#contato {
    padding: 50px 0;
    background-color: #f2f2f2;
}

#contato h2 {
    margin-bottom: 20px;
    color: #4a3c31;
}

#contato .form-label {
    font-weight: bold;
    color: #333;
}

#contato .form-control {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

#contato .btn-primary {
    background-color: #4a3c31;
    border-color: #4a3c31;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#contato .btn-primary:hover {
    background-color: #333;
    border-color: #333;
}

@media (max-width: 768px) {
    #contato .row {
        flex-direction: column;
    }

    #contato .col-md-6 {
        margin-bottom: 20px;
    }
}

/* Estilos específicos para Catálogo Masculino e Feminino */
#catalogo .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#catalogo .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#catalogo .card img {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

#catalogo .card-body {
    padding: 20px;
}

#catalogo .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

#catalogo .card-text {
    font-size: 1.1em;
    color: #777;
    margin-bottom: 20px;
}

#catalogo .btn-primary {
    background-color: #4a3c31;
    border-color: #4a3c31;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#catalogo .btn-primary:hover {
    background-color: #333;
    border-color: #333;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 0px; /* Ajuste se necessário */
}

/* Seção de Produtos */
#produtos {
    padding: 50px 20px;
}

#produtos h2 {
    font-size: 2em;
    font-weight: bold;
    color: #4a3c31;
    margin-bottom: 40px;
}

/* Grid de produtos */
.container-produtos {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colunas */
    gap: 20px; /* Espaçamento entre os itens */
}

.produto {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.produto .info {
    padding: 10px;
}

.produto .nome {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.produto .descricao {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.produto .preco {
    font-size: 1.2em;
    color: #c0392b;
    font-weight: bold;
    margin: 10px 0;
}

.produto .btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.produto .btn:hover {
    background-color: #2980b9;
}

/* Responsividade */
@media (max-width: 1200px) {
    .container-produtos {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas em telas menores */
    }
}

@media (max-width: 900px) {
    .container-produtos {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas ainda menores */
    }
}

@media (max-width: 600px) {
    .container-produtos {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }
}

/* Adicionado do HTML */
.navbar {
    background-color: #000;
}

.navbar-brand img {
    width: 150px;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

#produtos-destaque .highlight {
    text-align: center;
    margin-bottom: 30px;
}

#produtos-destaque .highlight img {
    max-width: 100%;
    height: auto;
}
